<StratergyParameterRange xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <Dictionary xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>LimitOpen</a:Key>
      <a:Value>
        <max>300</max>
        <min>100</min>
        <step>10</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>SL</a:Key>
      <a:Value>
        <max>1150</max>
        <min>1150</min>
        <step>100</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>TP</a:Key>
      <a:Value>
        <max>390</max>
        <min>390</min>
        <step>10</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>ProhibitedStartHour</a:Key>
      <a:Value>
        <isExtract>1</isExtract>
        <max>1</max>
        <min>1</min>
        <step>2</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>ProhibitedDuration</a:Key>
      <a:Value>
        <max>6</max>
        <min>6</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>ProhibitedStartMinute</a:Key>
      <a:Value>
        <max>30</max>
        <min>30</min>
        <step>15</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>TPCoefExtremum</a:Key>
      <a:Value>
        <max>11</max>
        <min>11</min>
        <step>5</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>TPCoefExtremum2</a:Key>
      <a:Value>
        <max>26</max>
        <min>26</min>
        <step>5</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>FixedVolume</a:Key>
      <a:Value>
        <max>0</max>
        <min>0</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>BasicVolume</a:Key>
      <a:Value>
        <max>10</max>
        <min>10</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>MinAmountOrdersFLP</a:Key>
      <a:Value>
        <isNonExport>1</isNonExport>
        <max>1</max>
        <min>1</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
  </Dictionary>
</StratergyParameterRange>