<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ForexInformationDownloader.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ForexInformationDownloader.Settings1>
      <setting name="NewsPath" serializeAs="String">
        <value>c:\!log\news.csv</value>
      </setting>
      <setting name="StartHour" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="Symbols" serializeAs="String">
        <value>AUDJPY, AUDNZD, AUDUSD, CADJPY, CHFJPY, EURAUD, EURCAD, EURCHF, EURGBP, EURJPY, EURNOK, EURSEK, EURUSD, GBPCHF, GBPJPY, GBPUSD, NZDUSD, USDCAD, USDCHF, USDJPY, USDNOK, USDSEK</value>
      </setting>
      <setting name="TimeoutMinutes" serializeAs="String">
        <value>5</value>
      </setting>
    </ForexInformationDownloader.Settings1>
  </applicationSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
