<StratergyParameterRange xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <Dictionary xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>TP</a:Key>
      <a:Value>
        <max>100</max>
        <min>10</min>
        <step>5</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>ProhibitedStartHour</a:Key>
      <a:Value>
        <max>23</max>
        <min>0</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>ProhibitedStartMinute</a:Key>
      <a:Value>
        <max>5</max>
        <min>5</min>
        <step>15</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>ProhibitedDuration</a:Key>
      <a:Value>
        <max>18</max>
        <min>18</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>ProhibitedTypeAction</a:Key>
      <a:Value>
        <max>0</max><!--0=as usual 1=don`t work in duration period 2=close by market-->
        <min>0</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>ProhibitedTP</a:Key>
      <a:Value>
        <max>100</max> <!-- extend TP during prohibited period,if =0 then the same as usual TP-->
        <min>30</min>
        <step>5</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>MinTralOpen</a:Key>
      <a:Value>
        <max>1000</max>
        <min>30</min>
        <step>20</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>MaxTralOpen</a:Key>
      <a:Value>
        <max>3000</max>
        <!-- if =0 then MinTralOpen = MaxTralOpen(as very old good advisor) -->
        <min>30</min>
        <step>10</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>SL</a:Key>
      <a:Value>
        <max>2000</max>
        <min>100</min>
        <step>30</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>TPCoefExtremum</a:Key>
      <a:Value>
        <max>1</max>
        <min>1</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
  </Dictionary>
</StratergyParameterRange>