<StratergyParameterRange xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <Dictionary xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>TP</a:Key>
      <a:Value>
        <max>500</max>
        <min>500</min>
        <step>1000</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>OpenOrderShift</a:Key>
      <a:Value>
        <max>1000</max>
        <min>1000</min>
        <step>2000</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>BasicVolume</a:Key>
      <a:Value>
        <max>10</max>
        <min>10</min>
        <step>10</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>TrailingTP</a:Key>
      <a:Value>
        <max>1</max>
        <min>1</min>
        <step>2</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
  </Dictionary>
</StratergyParameterRange>