<StratergyParameterRange xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <Dictionary xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>OpenOrderShift</a:Key>
      <a:Value>
        <max>150</max>
        <min>150</min>
        <step>300</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>BasicVolume</a:Key>
      <a:Value>
        <max>10</max>
        <min>10</min>
        <step>10</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>HappyHour</a:Key>
      <a:Value>
        <max>21</max>
        <min>21</min>
        <step>1000</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>HappyMinute</a:Key>
      <a:Value>
        <max>40</max>
        <min>40</min>
        <step>1000</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>InitPeriodMinute</a:Key>
      <a:Value>
        <max>13</max>
        <min>13</min>
        <step>1000</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>TradeDuration</a:Key>
      <a:Value>
        <max>56</max>
        <min>56</min>
        <step>1000</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>ClosingDuration</a:Key>
      <a:Value>
        <max>55</max>
        <min>55</min>
        <step>1000</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>WorkingDay</a:Key>
      <a:Value>
        <max>60</max>
        <min>60</min>
        <step>1000</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>TPFloatingPercent</a:Key>
      <a:Value>
        <max>45</max>
        <min>45</min>
        <step>1000</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
  </Dictionary>
</StratergyParameterRange>