<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="DllSettings">
      <section name="ForexSuite.Setup.Settings" type="ForexSuite.Setup.Settings, ForexSuite" />
    </sectionGroup>
  </configSections>
  <DllSettings>
    <ForexSuite.Setup.Settings ScriptsRoot="..\Scripts" />
  </DllSettings>
</configuration>