<StratergyParameterRange xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <Dictionary xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>TP</a:Key>
      <a:Value>
        <max>80</max>
        <min>80</min>
        <step>100</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>OpenOrderShift</a:Key>
      <a:Value>
        <max>80</max>
        <min>80</min>
        <step>100</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>CoefVolume</a:Key>
      <a:Value>
        <max>10</max>
        <min>20</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>SL</a:Key>
      <a:Value>
        <max>1500</max>
        <min>1500</min>
        <step>100</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>BasicVolume</a:Key>
      <a:Value>
        <max>10</max>
        <min>10</min>
        <step>10</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>ProhibitedStartHour</a:Key>
      <a:Value>
        <max>21</max>
        <min>21</min>
        <step>10</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>ProhibitedStartMinute</a:Key>
      <a:Value>
        <max>10</max>
        <min>10</min>
        <step>10</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>ProhibitedDuration</a:Key>
      <a:Value>
        <max>12</max>
        <min>12</min>
        <step>10</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>NewsDisablerBeforeMinutes</a:Key>
      <a:Value>
        <max>30</max>
        <min>30</min>
        <step>360</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>NewsDisablerAfterMinutes</a:Key>
      <a:Value>
        <max>30</max>
        <min>30</min>
        <step>720</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
  </Dictionary>
</StratergyParameterRange>