<StratergyParameterRange xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <Dictionary xmlns:a="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>TP</a:Key>
      <a:Value>
        <max>2000</max>
        <min>500</min>
        <step>200</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>OpenOrderShift</a:Key>
      <a:Value>
        <max>3000</max>
        <min>0</min>
        <step>300</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>OpenMode</a:Key>
      <a:Value>
        <max>2</max>
        <min>2</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>BasicVolume</a:Key>
      <a:Value>
        <max>10</max>
        <min>10</min>
        <step>10</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>TrailingTP</a:Key>
      <a:Value>
        <max>5</max>
        <min>5</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>InitHistoryMinutes</a:Key>
      <a:Value>
        <isExtract>1</isExtract>
        <max>90000</max>
        <min>90000</min>
        <step>1000</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>ReadOnly</a:Key>
      <a:Value>
        <max>0</max>
        <min>0</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>StartYear</a:Key>
      <a:Value>
        <max>0</max>
        <min>0</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>StartMonth</a:Key>
      <a:Value>
        <max>0</max>
        <min>0</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
    <a:KeyValueOfstringIntStepRangeLjh4bohd>
      <a:Key>MinTradeVolume</a:Key>
      <a:Value>
        <max>10</max>
        <min>10</min>
        <step>1</step>
      </a:Value>
    </a:KeyValueOfstringIntStepRangeLjh4bohd>
  </Dictionary>
</StratergyParameterRange>