<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GUIAnalyser.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <GUIAnalyser.Settings1>
      <setting name="DefaultSourcePath" serializeAs="String">
        <value />
      </setting>
    </GUIAnalyser.Settings1>
  </applicationSettings>
  <appSettings>
    <add key="GMT" value="2" />
    <add key="MagicNumber" value="11" />
    <add key="ExportAdvisorName" value="BuyAndWait" />
    <add key="NewsFilePath" value="c:\Program Files\ForexNewsDownloader\news.csv" />
    <add key="MathKernelPath" value="c:\Program Files\Wolfram Research\Mathematica\8.0\MathKernel.exe" />
    <add key="QuotesFullPath" value="sourcedata" />
    <add key="MaxThreadNumber" value="1" />
    <add key="InitialDeposit" value="10000000" />
    <add key="Loss" value="5000000" />
    <add key="Reliability" value="0.98" />
    <add key="MinVolume" value="1" />
    <add key="MinMarginLevel" value="1.75" />
    <add key="ResultSource" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>